<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Certificate</title>
	<style>
		@media screen {
			@font-face {
				font-family: "Certificate Italic";

			}

			@font-face {
				font-family: "Edwardian Script ITC";

			}

			@font-face {
				font-family: "Arial Black";

			}
		}
	</style>
</head>

<body style="margin: 0; padding: 0">

	<table style="margin-left: auto; margin-right: auto">
		<tr>
			<th style="
            font-family: Certificate Italic;
            text-align: center;
            font-weight: 700;
            font-size: 50px;
            padding-top: 30px;
            padding-bottom: 10px; ;
          ">
				Noakhali Science and Technology University
			</th>
		</tr>
		<tr>
			<td style="
            display: flex;
            margin-top: 30px;
            flex-direction: row;
            justify-content: space-between;
            font-family: Arial Black;
            font-size: 15px;
          ">
				<span>Registration Number</span>
				<span style="text-align: right">Roll No.ASH1925008M</span>
			</td>
		</tr>
		<tr style="
          display: flex;
          flex-direction: row;
          align-content: stretch;
          justify-content: center;
        ">
			<td>
				<img src="http://127.0.0.1:8000/media/assets/Logo_of_Noakhali_Science_and_Technology_University.gif"
					style="margin-top: 20px; width: 80px; height: auto" />
			</td>
		</tr>
		<tr style="text-align: center; font-family: Arial Black; font-size: 20px">
			<td style="padding: 20px">PROVISIONAL CERTIFICATE</td>
		</tr>
		<tr style="text-align: center">
			<td style="
            padding: 20px;
            font-family: Certificate Italic;
            text-align: center;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 35px;
          ">
				Bachelor of Science (Engineering)
			</td>
		</tr>
		<tr>
			<td style="
            padding: 20px;
            font-family: Edwardian Script ITC;
            text-align: center;
            font-weight: normal;
            font-size: 35px;
          ">
				This is to certify that
			</td>
		</tr>
		<tr>
			<td style="
            font-family: Edwardian Script ITC;
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            font-weight: 700;
            border-spacing: 0;
            border-bottom: dotted;
          ">
				Md. Al-Amin
			</td>
		</tr>
		<tr style="
          font-family: Edwardian Script ITC;
          font-size: 35px;
          font-weight: normal;
          text-align: right;
        ">
			<td>
				<span style="
              font-family: Edwardian Script ITC;
              text-align: center;
              font-weight: bold;
              font-size: 35px;
              border-bottom: dotted;
              display: inline-block;
              width: 93%;
            ">Salam Hall</span>
				Hall
			</td>
		</tr>
		<tr style="
          font-family: Edwardian Script ITC;
          font-size: 35px;
          font-weight: normal;
        ">
			<td style="
            max-width: 400px;
            text-align: justify;
            text-justify: inter-word;
            letter-spacing: 2px;
          ">
				passed the four years Integrated Degree of Bachelor of Science in
				<span> Information and Communication Engineering </span> from this
				university in the examination of <span>2020</span>. His/Her
				Cummulative Grade Point Average
				<span style="
              font-family: 'Times New Roman', Times, serif;
              font-size: 20px;
            ">
					(CGPA)</span>
				is <span style="border-bottom: dotted">3.19</span> on a scale of 4.00.
			</td>
		</tr>
		<tr>
			<td style="
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            font-weight: normal;
            letter-spacing: 2px;
            justify-content: space-between;
            font-family: Edwardian Script ITC;
            font-size: 35px;
          ">
				<span style="font-size: 25px">Checked By <span style="border-bottom: dotted">Md.Raju</span></span>
				<span style="text-align: right">Controller of Examination</span>
			</td>
		</tr>
		<tr>
			<td style="margin-top: 50px; margin-bottom: 50px; display: flex">
				<span style="
              font-family: Edwardian Script ITC;
              text-align: center;
              font-weight: bold;
              font-size: 35px;
              border-spacing: 0;
              border-bottom: dotted;
            ">04 June 2022</span>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px black solid"></td>
		</tr>
		<tr>
			<td style="border-bottom: 1px black solid"></td>
		</tr>
		<tr style="
          margin: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: normal;
          text-align: center;
        ">
			<td>
				N.B.: This Provisional Certificate must be returned at the time of
				receiving the original Certificate
			</td>
		</tr>
	</table>
</body>

</html>